<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eisoo.mapper.MonthRangeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.eisoo.model.MonthRange">
        <id column="id" property="id" jdbcType="DECIMAL"/>
        <result column="cat" property="cat"/>
        <result column="min_month" property="minMonth" />
        <result column="max_month" property="maxMonth" />
    </resultMap>

    <select id="queryMonthRangeByCat" resultMap="BaseResultMap">
        SELECT * FROM es_month_range  WHERE cat= #{cat} limit 1;
    </select>
</mapper>


