<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eisoo.mapper.OnlinetrendMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.eisoo.model.Onlinetrend">
        <result column="days" property="days" jdbcType="VARCHAR"/>
        <result column="college" property="college" jdbcType="VARCHAR"/>
        <result column="major" property="major" jdbcType="VARCHAR"/>
        <result column="grade" property="grade" jdbcType="VARCHAR"/>
        <result column="stu_nums" property="stuNums"/>
    </resultMap>

    <resultMap id="venue" type="com.eisoo.model.ValueDTO">
        <result column="name" property="key"/>
        <result column="nums" property="nums"/>
    </resultMap>

    <select id="studyTrend" resultMap="BaseResultMap">
        SELECT substr(days,6,5) days, college,grade,major, stu_nums
        FROM table_online_trend
        where days like CONCAT(#{months},'%')
        <if test="college != null">
            and college = #{college}
        </if>
        <if test="grade != null">
            and grade = #{grade}
        </if>
        <if test="major != null">
            and major = #{major}
        </if>
    </select>
    <select id="studyHot" resultMap="BaseResultMap">
        SELECT * FROM table_online_stu
        WHERE months=#{months}
        <if test="college != null">
            and college = #{college}
        </if>
        <if test="grade != null">
            and grade = #{grade}
        </if>
        <if test="major != null">
            and major = #{major}
        </if>
    </select>
</mapper>