<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eisoo.mapper.StudyTrendMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.eisoo.model.StudyTrend">
        <result column="id" property="id" jdbcType="DECIMAL"/>
        <result column="days" property="days" jdbcType="VARCHAR"/>
        <result column="college" property="college" jdbcType="VARCHAR"/>
        <result column="grade" property="grade" jdbcType="VARCHAR"/>
        <result column="major" property="major" jdbcType="VARCHAR"/>
        <result column="counts" property="counts" jdbcType="DECIMAL"/>
    </resultMap>

    <resultMap id="venue" type="com.eisoo.model.ValueDTO">
        <result column="name" property="key"/>
        <result column="nums" property="nums"/>
    </resultMap>

    <select id="getTrend" resultMap="venue">
        select days as name, round(sum(counts)/10) as nums from table_study_trend
        where days like CONCAT(#{months},'%')
        group by days order by days
    </select>

</mapper>
